* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    height: 100vh;
    font-weight: 400;
    padding-top: 60px;
    padding-left: 200px;
}

/* Main content area with scrollable content */


#visualization {
    width: 100%;
    height: 500px; /* Adjust as needed */
    padding-top: 30px;

    display: flex;
    flex: 1;

    flex-direction: column;
    align-items: center;
}

.maincontent {
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 34px;
    
}

.article {
    border: 2px solid #ccc;
}

.article-header {
    font-family: "New Amsterdam", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgb(196, 65, 65);
    letter-spacing: normal;
}

.article-content {
    font-family: "Special Elite", system-ui;

}

.article-title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}